<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/latest/jquery.validate.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <th:block th:replace="~{cssImport.html :: layout_import_css}"/>
</head>

<body>
<div th:replace="admin/common/Header.html"></div>
<div class="container mt-4">
    <form th:action="@{/sanpham/add}" th:object="${sanPham}" method="post">
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="tenSanPham">Tên Sản Phẩm</label>
                <input type="text" class="form-control" id="tenSanPham" th:field="*{tenSanPham}" placeholder="Tên Sản Phẩm" tenSanPham>
            </div>
            <div class="form-group col-md-2">
                <label for="trangThai">Trạng Thái</label>
                <input type="number" class="form-control" id="trangThai" th:field="*{trangThai}" placeholder="Trạng Thái" required>
            </div>
            <div class="form-group col-md-2 align-self-end">
                <button type="submit" class="btn btn-success" id="btnAdd">Add</button>
            </div>
        </div>
    </form>
    <table class="table table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>Tên Sản Phẩm</th>
            <th>Ngày Tạo</th>
            <th>Ngày Sửa</th>
            <th>Trạng Thái</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="sanPham : ${listSanPham}">
            <td th:text="${sanPham.tenSanPham}"></td>
            <td th:text="${sanPham.createDate}"></td>
            <td th:text="${sanPham.updateDate}"></td>
            <td th:text="${sanPham.trangThai}"></td>
            <td>
                <a th:href="@{/sanpham/detail/{id}(id=${sanPham.id})}" class="btn btn-primary">Detail</a>
                <form th:action="@{/sanpham/delete/{id}(id=${sanPham.id})}" method="post">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>


            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="admin/common/foodter.html"></div>
</body>
</html>
